*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    background-image: url("../product/product1.png");
    background-size: cover;
}

.log{
    position: absolute;
    height: 400px;
    width: 350px;
    box-shadow: 2px 2px 4px;
    background-color: rgba(255,255,255,0.4);
    backdrop-filter: blur(8px);
    border-radius: 15px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

/*input bare */

.inpt{
    color:black;
    background-color: rgba(255,255,255,0.5);
    height: 8%;
    border-style: none;
    margin: 8px;
    padding: 8px;
}

.btn{
    height: 10%;
    width: 40%;
    border-radius: 50px;
    border-style: none;
    color: white;
    background-color: grey;
    margin: 30px;
    font-size: medium;
    cursor: pointer;
}

.log h1{
    margin: 25px 8px;
}

.log a{
    display: block;
    margin-block-start: auto;
    font-size: small;
    color: black;
    font-display: none;
    right: 150px;
    text-decoration: none;
}

.log hr{
    position: absolute;
    width: 80%;
    left: 10%;
    opacity: 50%;
    

}

.not{
    font-size: small;
    margin-top: 15%;
}

.btn:hover{
    color: black;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid black;
}

/*.............MEDIA QUERY........*/

/* For mobile phones: */
@media only screen and (max-width: 768px) {
    .log{
        height: 70%;
        width: 80%;
        overflow: hidden;
    }
    .log h1{
        margin: 5px 0px;
    }

    .not{
        font-size: small;
        margin-top: 10px;
    }

}


/* For mobile tablet: */
@media only screen and (min-width: 600px) {
    .log{
        height: 300px;
        width: 250px;
    }
    .log h1{
        margin: 10px 4px;
    }

    .not{
        font-size: small;
        margin-top: 15px;
    }
    
}

/* For mobile phones: */
@media only screen and (max-width: 768px) {
    .log {
        height: 70%;
        width: 80%;
        overflow: hidden;
    }

    .log h1 {
        margin: 5px 0px;
    }

    .not {
        font-size: small;
        margin-top: 10px;
    }
}

/* For tablets: */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .log {
        height: 300px;
        width: 250px;
    }

    .log h1 {
        margin: 10px 4px;
    }

    .not {
        font-size: small;
        margin-top: 15px;
    }
}

/* For laptops and larger screens: */
@media only screen and (min-width: 1025px) {
    .log {
        height: 400px;
        width: 350px;
    }

    .log h1 {
        margin: 25px 8px;
    }

    .not{
        font-size: small;
        margin-top: 15%;
    }
}
