<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penguin Fashion</title>
    <link rel="stylesheet" type="text/css" href="../static/style/style.css">
</head>
<body>
    <header>
        <div class="box" id="headerBar">
            <img src="../static/images/33072.png" alt="Penguin Fashion">
            <span></span>
            <nav>
                <a href="#">Home</a>
                <a href="#">Product</a>
                <a href="#">About us</a>
                <a href="#">Contact us</a>
                <a href="#">Login</a>
            </nav>
        </div>
        <div class="box" id="headerModel">
            <div id="modelText">
                <h1><span>Be The Penguin</span>Of Winter</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="btn-BuyNow"><a href=""><div><img src="../static/images/shopping-cart 1.png" alt=""><p>Buy Now</p></div></a></div>
            </div>
            <div id="modelImg">
                <img src="../static/images/background2.png">
            </div>
        </div>
    </header>
    <section class="box manwoman" id="sectWoman">
        <h1>Woman shoes</h1>
        <div class="cards">
            <div class="card">
                <div class="cardImg"><img src="../static/images/SeekPng 1.png"></div>
                <h2>high heel shoes</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="cardPrice">
                    <h3>$234</h3>
                    <div class="btn-BuyNow"><a href=""><div><img src="../static/images/shopping-cart 1.png" alt=""><p>Buy Now</p></div></a></div>
                </div>
            </div>
            <div class="card">
                <div class="cardImg"><img src="../static/images/PngItem_2597366 1.png"></div>
                <h2>Ladies shoes</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="cardPrice">
                    <h3>$234</h3>
                    <div class="btn-BuyNow"><a href=""><div><img src="../static/images/shopping-cart 1.png" alt=""><p>Buy Now</p></div></a></div>
                </div>
            </div>
            <div class="card">
                <div class="cardImg"><img src="../static/images/image 15.png"></div>
                <h2>Woman sport shoes</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="cardPrice">
                    <h3>$234</h3>
                    <div class="btn-BuyNow"><a href=""><div><img src="../static/images/shopping-cart 1.png" alt=""><p>Buy Now</p></div></a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="box manwoman" id="sectMan">
        <h1>Man shoes</h1>
        <div class="cards">
            <div class="card">
                <div class="cardImg"><img src="../static/images/image 11.png"></div>
                <h2>boots shoes Mens</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="cardPrice">
                    <h3>$234</h3>
                    <div class="btn-BuyNow"><a href=""><div><img src="../static/images/shopping-cart 1.png" alt=""><p>Buy Now</p></div></a></div>
                </div>
            </div>
            <div class="card">
                <div class="cardImg"><img src="../static/images/vippng 1.png"></div>
                <h2>Man sport shoess</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="cardPrice">
                    <h3>$234</h3>
                    <div class="btn-BuyNow"><a href=""><div><img src="../static/images/shopping-cart 1.png" alt=""><p>Buy Now</p></div></a></div>
                </div>
            </div>
            <div class="card">
                <div class="cardImg"><img src="../static/images/toppng 1.png"></div>
                <h2>Man classic shoess</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="cardPrice">
                    <h3>$234</h3>
                    <div class="btn-BuyNow"><a href=""><div><img src="../static/images/shopping-cart 1.png" alt=""><p>Buy Now</p></div></a></div>
                </div>
            </div>
        </div>
    </section>
    <section class="box" id="sectService">
        <div id="serviceBox">
            <div class="serviceBox">
                <img src="../static/images/image 12.png" alt="">
                <div class="boxText">
                    <h2>Find the Perfect Fit</h2>
                    <p>Everybody is different, which is why we offer styles for every body</p>
                </div>
            </div>
            <div class="serviceBox">
                <img src="../static/images/image 13.png" alt="">
                <div class="boxText">
                    <h2>Free Exchanges</h2>
                    <p>One of the many reasons you can shop with peace of mind.</p>
                </div>
            </div>
            <div class="serviceBox">
                <img src="../static/images/image 14.png" alt="">
                <div class="boxText">
                    <h2>Contact Our Seller</h2>
                    <p>They are here to help you. That's quite literally what we pay them for.</p>
                </div>
            </div>
        </div>
        <div id="serviceImg">
            <img src="../static/images/XMLID 1.png" alt="">
        </div>
    </section>
    <section class="box" id="sectContact">
        <img src="../static/images/contact.svg" alt="">
        <p>Stay Connected</p>
        <div>
            <input type="email" name="email" id="email" placeholder="example2020@example.com">
            <a href="#">Continue</a>
        </div>
    </section>
    <footer>
        <p>You Can Follow us On</p>
        <div id="footerLink">
            <a href="https://www.facebook.com/"><img src="../static/images/facebook.png" alt="FB"></a>
            <a href="https://www.youtube.com/"><img src="../static/images/youtube.png" alt="YT"></a>
            <a href="https://github.com"><img src="../static/images/github.png" alt="GT"></a>
            <a href="https://www.instagram.com"><img src="../static/images/instragram.png" alt="IG"></a>
        </div>
        <p id="copy">© Copyright 2021, Imrane abdessamad. All Rights Reserved.</p>
    </footer>    
</body>
</html>
